# Caddyfile for Nextcloud (converted from nginx.conf)
# https://github.com/nextcloud/docker/blob/master/.examples/docker-compose/with-nginx-proxy/mariadb/fpm/web/nginx.conf
{
	# Set the email for Let's Encrypt notifications
	email info@{$DOMAIN}
}

# Handle Requests for the Nextcloud HTTPS URL
cloud.{$DOMAIN} {
	encode gzip
	file_server
	php_fastcgi cloud:9000
	root * /var/www/html

	# Redirect /.well-known/carddav and caldav to /remote.php/dav
	redir /.well-known/carddav /remote.php/dav 301
	redir /.well-known/caldav /remote.php/dav 301

	# Pretty URLs
	try_files {path} {path}/ /index.php{uri}

	# Set security headers
	header {
		Permissions-Policy "interest-cohort=()"
		Strict-Transport-Security "max-age=15768000; includeSubDomains; preload"
		Referrer-Policy "no-referrer"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		X-Permitted-Cross-Domain-Policies "none"
		X-Robots-Tag "noindex, nofollow"
		X-XSS-Protection "1; mode=block"
		- X-Powered-By
	}

	# Deny access to .well-known/acme-challenge except for Let's Encrypt
	@acmeChallenge {
		path /.well-known/acme-challenge/*
	}
	handle_path /@acmeChallenge {
		file_server
	}

	# Deny access to .git
	@git path_regexp git ^/.git
	respond @git 403

	# Deny access to sensitive files and respond with 403
	@forbiddenFiles {
		path /.ht*
		path /data/*
		path /config/*
		path /db_structure
		path /README
		path /3rdparty/*
		path /lib/*
		path /templates/*
		path /occ
		path /console.php
	}
	respond @forbiddenFiles 403

	# Handle .well-known URLs for Nextcloud
	@wellKnown {
		path /.well-known/*
	}
	handle @wellKnown {
		rewrite * /index.php{uri}
	}
}

# Redirect HTTP requests to HTTPS
:80 {
	redir https://cloud.{$DOMAIN}{uri} permanent
}
