# Template: https://caddy.community/t/caddy-v2-configuration-nextcloud-docker-php-fpm-with-rules-from-htaccess/20662
# Reference: https://caddyserver.com/docs/caddyfile
{
	# Set the email for Let's Encrypt notifications
	email {$LETS_ENCRYPT_MAIL}
}

# Redirect HTTP requests to HTTPS
http://{$DOMAIN_CLOUD} {
	redir https://{$DOMAIN_CLOUD}{uri} permanent
}

# Handle HTTPS Requests for the Nextcloud URL
https://{$DOMAIN_CLOUD} {
	encode
	file_server
	php_fastcgi cloud:9000
	root * /var/www/html

	# Redirects
	redir /.well-known/carddav /remote.php/dav 301
	redir /.well-known/caldav /remote.php/dav 301
	redir /.well-known/* /index.php{uri} 301
	redir /remote/* /remote.php{uri} 301

	# Prettify URLs
	try_files {path} {path}/ /index.php{uri}

	# Security headers
	header {
		Permissions-Policy "interest-cohort=()"
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		Referrer-Policy "no-referrer"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		X-Permitted-Cross-Domain-Policies "none"
		X-Robots-Tag "noindex, nofollow"
		X-XSS-Protection "1; mode=block"
		- X-Powered-By
	}

	# Deny access to .well-known/acme-challenge except for Let's Encrypt
	@acmeChallenge {
		path /.well-known/acme-challenge/*
	}
	handle_path /@acmeChallenge {
		file_server
	}

	# Deny access to sensitive files and respond with 403
	@forbiddenFiles {
		path /.git/*
		path /3rdparty/*
		path /build/*
		path /config/*
		path /data/*
		path /lib/*
		path /templates/*
		path /.*
		path /console.php
		path /db_structure
		path /README
		path /occ
		not path /.well-known/*
	}
	respond @forbiddenFiles 403

	# Cache for versioned static files
	@immutable {
		path *.css *.js *.mjs *.svg *.gif *.png *.jpg *.ico *.wasm *.tflite
		query v=*
	}
	header @immutable Cache-Control "max-age=15778463, immutable"

	# Cache for static files
	@static {
		path *.css *.js *.mjs *.svg *.gif *.png *.jpg *.ico *.wasm *.tflite
		not query v=*
	}
	header @static Cache-Control "max-age=15778463"

	# Needed for Onlyoffice
	handle_path /onlyoffice/* {
		reverse_proxy office:80 {
			header_up X-Forwarded-Host {host}/onlyoffice
		}
	}

	# Needed for the 'Client Push' app
	# handle_path /push/* {
	# 	reverse_proxy unix//run/notify_push/notify_push.sock # (Have to figure out if this works)
	# }
}

# Bypass HTTPS and security headers for local requests
http://cloud, http://webserver {
	@internal {
		remote_ip 172.0.0.0/8
    }
    handle @internal {
        encode
		file_server
		php_fastcgi cloud:9000
		root * /var/www/html
	
		try_files {path} {path}/ /index.php{uri}

		@immutable {
			path *.css *.js *.mjs *.svg *.gif *.png *.jpg *.ico *.wasm *.tflite
			query v=*
		}
		header @immutable Cache-Control "max-age=15778463, immutable"

		@static {
			path *.css *.js *.mjs *.svg *.gif *.png *.jpg *.ico *.wasm *.tflite
			not query v=*
		}
		header @static Cache-Control "max-age=15778463"
    }
    respond "Access Denied" 403
}
